/* orbiting-circle.module.css */
@keyframes orbit {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .animateOrbit {
    animation: orbit var(--duration) linear infinite;
    transform-origin: center center;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .reverse {
    animation-direction: reverse;
  }
  
  .svgWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .svgCircle {
    stroke-width: 1;
    stroke: rgba(255, 255, 255, 0.3);
  }
  